    <div id="cartItem" class="cart-item">
      <div id="cartPic" class="cart-preview">
        <a routerLink="/configuration/{{product.id}}" >
          <img class="cart-thumb sample-frame-1" src="{{product.image}}" width="199" height="249" alt="image of the product">
        </a>
      </div>
          <label class="cart-desc">
              <button class="cart-desc-button" type="button" (click)="removeProduct(product)">&#215;</button>
              <span class="cart-desc-name">{{product.title}}</span><br>
              <span class="cart-desc-text">{{product.description}}</span><br>
              <div class="properties">
                <span class="cart-desc-name">Size: {{product.size}}</span><br>
                <span class="cart-desc-text">Color: {{product.color}}</span><br>
              </div>
              <app-quantity-section ></app-quantity-section><br>  
              <span class="cart-desc-price"> {{product.quantity}} X &euro; {{product.price}} equals {{product.quantity*product.price}}</span>
          </label>
    </div>
 