<section class="configurator">

    <div class="preview">
      <div class="sample-wrapper">
        <!-- <img src={{product.image}} alt="" id="preview-image" class="sample-frame" > -->
      </div>

      <div class="sample-info label-like">
        <label>
          <!-- <strong>{{product.title}}</strong><br> -->
          <!-- <i>{{product.description}}</i>, ca. {{product.price}} -->
        </label>
      </div>
    </div>

    <form class="museum-label label-like" id="config-form">
    
    </form>
  </section>