<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar>Register</mat-toolbar>
        <form [formGroup]="registerForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form">

            <mat-form-field>
                <mat-label>Username</mat-label>
                <input  type="text" id="username" name="username" formControlName="username" matInput required >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Account email</mat-label>
              <input type="email" id="email" name="email" formControlName="email"
              matInput required pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input  type="password" id="password" name="password" formControlName="password" matInput required >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input  type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" matInput required >
            </mat-form-field>

            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input  type="text" id="firstname" name="firstname" formControlName="firstname" matInput required >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input  type="text" id="lastname" name="lastname" formControlName="lastname" matInput required >
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input  type="text" id="phone" name="phone" formControlName="phone" matInput required pattern ="^((\\+)|(00)|(\\*)|())[0-9]{3,14}((\\#)|())$" >
            </mat-form-field>

            <button [disabled]="!registerForm.valid" mat-button-raised type="submit" (click)="registerUser()" >Register</button>
            <span>Already have an account? <a routerLink="/login">Sign In</a></span>
          </form>
    </mat-card>
</div>