<section class="configurator">

    <div class="preview">
      <div class="sample-wrapper">
        <img src={{productToConfigure.image}} id="preview-image" class="sample-frame" >
      </div>
      <div class="sample-info label-like">
        <label>
          <strong>{{productToConfigure.title}}</strong><br>
          <i>{{productToConfigure.description}}</i>
        </label>
      </div>
    </div>



     <form class="museum-label label-like" id="config-form">

    <fieldset class="museum-fieldset">
      <legend>Size</legend>
      <div class="segmented">
        <div *ngFor="let size of sizes" (click)="setSize(size)">
          <input type="radio" id="frame-size-{{size}}" name="frameSize" value="{{size}}"> 
          <label for="frame-size-{{size}}">{{size}}<br>32”-33”</label>
        </div>
      </div>
    </fieldset>
    
    <fieldset class="museum-fieldset">
      <legend>Mat Color</legend>
      <div class="mat-color-row">
        <div *ngFor="let color of colors" class="mat-color-item" (click)="setColor(color)">
          <input type="radio" id="mat-color-{{color}}" name="matColor" value="{{color}}">
          <label for="mat-color-{{color}}">{{color}}</label>
        </div>
      </div>
    </fieldset>



    <fieldset class="museum-fieldset summary-fieldset">
      <legend>Summary and Submit</legend>
      <div class="form-text-row">
        <label>Price (excl. shipping)</label>
        <label class="sum">€{{productToConfigure.price}}</label>
      </div>
      <div class="form-text-row">
        <app-quantity-section (eventEmmit)="receiveTotal($event)" ></app-quantity-section>
        <label>Total Price:€{{quantityOfElement*productToConfigure.price}}</label> 
      </div>
      <button type="submit" class="dropbtn" id="config-submit-button" (click)="addTocart(productToConfigure)" >Add to Cart</button>
    </fieldset>

  </form>
  </section>