<div class="dropdown">
    <button class="dropbtn" >Categories</button>
    <div class="dropdown-content">
      <a id="Men's clothing" (click)="onClick('men\'s clothing')">Men's clothing</a>
      <a id="Women's clothing" (click)="onClick('women\'s clothing')" >Women's clothing</a>
      <a id="Jewelery" (click)="onClick('jewelery')" >Jewelery</a>
      <a id="Electronics" (click)="onClick('electronics')">Electronics</a>
      <a id="All categories" (click)="onClick('')" >All categories</a>
    </div>
  </div>

 