<div class="dropdown">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
      <a>Men's clothing</a>
      <a>Women's clothing</a>
      <a>Jewelery</a>
      <a>Electronics</a>
      <a>All categories</a>
    </div>
  </div>

  <!-- <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Favorite Food</mat-label>
      <mat-select [formControl]="foodControl" name="food">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form> -->